@import url('https://fonts.googleapis.com/css?family=Poppins:display=swap');
@import url('https://fonts.googleapis.com/css?family=Tilt+Neon:display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: 0.2s ease-in-out;
    color: #000;
    text-decoration: none;
}
:root {
    --Soft: hsl(30, 70%, 80%);
    --Grayish: hsl(30, 20%, 60%);
    --Very-Dark: hsl(30, 70%, 20%);
    --Soft-Red: hsl(0, 94%, 66%);
    --box-shadow: .5rem .5rem 0 var(--Soft);
    --border: .4rem solid var(--Soft);
}
section {
    padding: 1.3rem 7%;
}
.all-btn {
    padding: 1rem 3rem;
    font-size: 1.5rem;
    background-color: var(--Soft);
    border-radius: .5rem;
    color: #fff;
}
.all-btn:hover {
    background-color: transparent;
    color: var(--Soft);
    border: 2px solid var(--Soft);
}
.heading {
    text-align: center;
    font-size: 1.9rem;
    margin-top: 7rem;
    margin-bottom: 5rem;
}
.heading h1 {
    font-family: 'Tilt Neon';
    padding-bottom: 2rem;
    color: var(--Very-Dark);
}
.heading p {
    max-width: 60rem;
    margin: auto;
    color: var(--Grayish);
    font-size: 1.6rem;
}
/* navbar sections starts */

.header {
    padding: 2rem 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0%;
    left: 0;
    z-index: 10000;
    background-color: #fff;
    box-shadow: 0rem 0.5rem 1.5rem rgba(0, 0, 0, .1);
}
.header .navbar a {
    margin-left: 2rem;
    font-size: 1.4rem;
    text-transform: uppercase;
}
.header .navbar a:hover {
    color: var(--Soft-Red);
}
.header .navbar .btn {
    padding: .6rem 3rem;
    background-color: var(--Soft-Red);
    color: #fff;
    border-radius: .5rem;
}
.header .navbar .btn:hover {
    color: var(--Soft-Red);
    background-color: transparent;
    border: 2px solid var(--Soft-Red);
}
/* navbar sections ends */

/* home section starts  */

.home {
    padding-top: 12rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.home .content {
    margin-bottom: 1.5rem;
}
.home .content h1 {
    font-family: 'Tilt Neon';
    font-size: 4.5rem;
    color: var(--Very-Dark);
}
.home .content p {
    font-size: 1.7rem;
    padding: 1rem 0;
    max-width: 40rem;
    color: var(--Grayish);
    padding-bottom: 4rem;
}
.home .content .home-btn {
    padding: 1.3rem 2rem;
    background-color: #fff;
    color: #000;
    font-size: 1.4rem;
    box-shadow: var(--box-shadow);
    border: 2px solid var(--Soft);
    border-radius: .5rem;
}
.home .content .home-btn:hover {
    background-color: var(--Soft);
    box-shadow: none;
    color: #fff;
}
.home .image {
    flex: 1 1 100%;
}
.home .image img {
    min-width: 100%;
    margin-top: 5rem;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
/* home section ends  */

/* features section starts  */

.features {
    background-color: white;
}
.features .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    margin: 3rem 0;
}
.features .row .image {
    flex: 1 1 45%;
}
.features .row .image img {
    width: 100%;
}
.features .row .content {
    flex: 1 1 45%;
}
.features .row .content h1 {
    font-size: 4rem;
    padding: 1rem 0;
    color: var(--Very-Dark);
}
.features .row .content p {
    font-size: 1.7rem;
    padding: 1rem 0;
    color: var(--Grayish);
    padding-bottom: 2.7rem;
}
/* features section ends  */

/* downloads section starts  */

.download .box-container {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-bottom: 5rem;
}
.download .box {
    border: 2px solid var(--Soft);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding: 2.5rem;
}
.download .box:hover {
    border: 2px solid var(--Soft);
    box-shadow: none;
}
.download .box h3 {
    font-size: 2rem;
    padding: 1rem 0;
    color: var(--Very-Dark);
    margin-bottom: 1rem;
}
.download .box img {
    max-height: 200px;
    width: auto;
}
/* downloads section ends */

/* footer section starts */

.footer {
    border: 2px solid var(--Soft);
    background: var(--Soft);
}
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 2rem;
}
.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--Very-Dark);
    padding: 1rem 0;
}
.footer .box-container .box a {
    color: var(--Very-Dark);
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
}
.footer .box-container .box a i {
    padding-right: .5rem;
    color: var(--Very-Dark);
}
.footer .box-container .box a:hover {
    padding-left: 1rem;
}
.footer .credit {
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color: var(--Very-Dark);
    border-top: .1rem solid rgba(0, 0, 0, .1);
}
/* footer section ends */
